@page
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    Layout = "_Instructor_Layout";
}
<h1>Instructor Home Page</h1>

<h1>Token :  @await HttpContext.GetTokenAsync("access_token")</h1>